.container {

	.data_name {
		padding: 3px;
		margin-bottom: 15px;
		font-size: 1.25rem;
		font-weight: 600;
		border-bottom: 2px solid #111;
		display: flex;
		align-items: center;
		position: relative;

		.data_name_icons {
			position: absolute;
			top: 0px;
			right: 0px;
			display: flex;

			& > div > img {
				margin-left: 8px;
			}
		}
	}

	.data_row {
		font-size: 0.8rem;
		color: #888;
		margin-top: 8px;
		display: flex;
		align-items: center;

		& > div > img {
			opacity: 0.5;
			margin-left: 8px;
		}
	}
}
