$width: 30vw;
$z-index: 9;
$triangle-size: 8px;

.toggler_container {
	width: 24px;
	height: 80px;
	background-color: #fff;
	position: fixed;
	top: 50%;
	left: $width;
	z-index: $z-index;
	border-radius: 0px 8px 8px 0px;
	cursor: pointer;
	transition: transform 0.3s ease;

	.triangle {
		position: absolute;
		top: calc(50% - #{$triangle-size});
		left: calc(50% - #{$triangle-size} / 2);
		width: 0px;
		height: 0px;
		border-left: 0px;
		border-top: $triangle-size solid transparent;
		border-bottom: $triangle-size solid transparent;
		border-right: $triangle-size solid black;
	}

	&.toggler_hidden {
		transform: translateX(calc(#{$width} * -1 * 0.99));

		.triangle {
			transform: scaleX(-1);
		}
	}
}

.container {
	width: $width;
	max-width: 500px;
	background-color: #fff;
	position: absolute;
	left: 0px;
	box-shadow: 10px 0 5px -5px #00000020;
	z-index: $z-index;
	overflow: auto;
	transition: transform 0.3s ease;

	&.hidden {
		transform: translateX(-99%);

		& .result_indicator {
			background-color: #fff;
		}
	}

	.result_indicator {
		width: 100%;
		height: 200px;
		background-color: #444;
		transition: background-color 0.3s ease;
	}

	.result_wrapper {
		margin: 25px;
		padding: 25px;
		background-color: #f8f8f8;
		border-radius: 8px;
	}
}
